body {
  font-family: "Poppins", sans-serif;
  margin: 0;
}

.flexible-items {
  display: flex;
  margin-top: 50px;
  margin-bottom: 50px;
}

.half-width {
  width: 50%;
}

.header-part {
  margin-left: 5%;
  margin-right: 5%;
}

.header-part .headings {
  padding-top: 120px;
}

.header-part h1 {
  font-size: 50px;
  color: rgb(80, 79, 79);
  font-weight: 800;
  line-height: 30px;
}

.header-part span {
  color: orange;
}

.header-part .header-image img {
  width: 100%;
}

.btn {
  padding: 10px 40px;
  background-image: linear-gradient(tomato, orange);
  text-decoration: none;
  color: white;
  border-radius: 20px;
}

.about-me {
  height: 100vh;
  background-image: url(./images/shapes/7.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.about-me .about-me-img img {
  height: 540px;
  width: 400px;
  padding-left: 25%;
  padding-top: 20%;
}

.about-me .about-me-texts {
  padding-top: 10%;
}

.about-me .about-me-texts h3 {
  font-size: 40px;
  font-weight: 700;
  color: rgb(80, 79, 79);
}

.about-me .about-me-texts a {
  display: inline-block;
  margin-top: 10%;
}
